.c-site-ftr {
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(15);
    font-size: rem-calc(14);
    text-align: center;

    &__logo {
        margin-top: rem-calc(6);
        margin-bottom: rem-calc(11);
        display: inline-block;
    }
    .cell {
        margin-bottom: rem-calc(15);
    }
    a {
        text-decoration: none;

        &:hover,
        &:active {
            color: get-color(primary);
        }
    }
    p {
        margin-bottom: 0;
    }
    h5 {
        margin: 0 auto rem-calc(8);
        padding-bottom: rem-calc(4);
        border-bottom: rem-calc(1) solid #142144;
        display: inline-block;
        font-size: rem-calc(16);
        line-height: (21/16);
    }
    .menu {
        @include menu-direction(vertical);
        @include menu-simple;
        a {
            line-height: (19/14);
        }
        li + li
        {
            margin-left: 0;
        }
    }

    @include breakpoint(large)
    {
        padding-top: rem-calc(110);
        padding-bottom: rem-calc(50);
        text-align: left;

        &__logo {
            margin-top: 0;
            margin-bottom: 0;
        }

        h5
        {
            margin-left: 0;
            text-align: left;
        }

        .menu
        {
            li
            {
                margin-bottom: $global-margin;
                text-align: left;
                width: 100%;
                margin-left: 0;
            }
        }
    }
}
