.l-section
{
    margin-top: rem-calc(20);
    margin-bottom: rem-calc(50);

    @include breakpoint(medium)
    {
        margin-top: rem-calc(50);
        margin-bottom: rem-calc(28);
    }
    @include breakpoint(large)
    {
        margin-top: rem-calc(105);
        margin-bottom: rem-calc(80);
    }

    &--pink, &--yellow, &--lightpink, &--red, &--blue, &--midpink
    {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(25);
    }
    &--pink
    {
        background-color: $pink;
    }
    &--yellow
    {
        background-color: $yellow;
    }
    &--lightpink
    {
        background-color: $lightpink;
    }
    &--midpink
    {
        background-color: $midpink;
        color: $white;
    }
    &--red
    {
        background-color: get-color(primary);
    }
    &--blue
    {
        background-color: get-color(secondary);
    }
}